.link {
  text-decoration: none;
}
.search {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
}
.search>*:first-child{
  margin-right: 1rem;
}
