.paginationList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.paginationItem {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin: 0 2.5px;
    color: #000;
    font-size: 16px;
}
.paginationItem.active {
    background-color: #ccc;
    color: #fff;
    cursor: default;
    border-color: #000;
}