.core-layout__viewport {
  padding-top: 1rem;
}
.icon {
  margin-right: 1rem;
}
.layout{
  justify-content: flex-start;
}
.active button[class^='theme'] {
  background-color: #f00!important;
}
.children{
  /*margin: 10px auto;
  min-width: 80%;*/
}
